@charset "UTF-8";

body {
    height: 97vh;
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    position:relative;  
}

#aling {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}