@charset "UTF-8";


body{
    background-color: rgba(0, 0, 0, 0.477);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
h1 {
    color: rgb(0, 0, 0);
}
h2 {
    color: rgb(0, 0, 0);
}
p {
    color: rgb(0, 0, 0);
}