@charset "UTF-8";

body {
    height: 100vh;
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    position:relative;
    
}