@charset "UTF-8";

/* CONFIGURAÇOES GERAIS*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #ff2323;
}

h1 {
    color: white;
    text-shadow: 3px 3px 3px #1526a7;
    padding: 10px;
}