@charset "UTF-8";

/* declaraçoes gerais */
@media all {
    * {
    margin: 0px;
    padding: 0px;
    }

    html, body {
    width: 100vw;
    height: 100vh;
    background-color: #ff2323;
    }

    h1 {
    color: white;
    text-shadow: 3px 3px 3px #1526a7;
    padding: 10px;
    }
}

/* declaraçoes retrato */
@media screen and (orientation: portrait) {

    body {
    background: url(../imagens/cev-portrait.jpg) no-repeat center bottom;
    background-size: cover;
    }
}

/* declaraçoes paisagem */
@media screen and (orientation: landscape) {

    body {
    background: url(../imagens/cev-landscape.jpg) no-repeat left bottom;
    background-size: cover;
    }
}