@charset "UTF-8";

body{
    font-family: sans-serif;
    background-color: gray;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(93, 93, 65);
    padding: 3px;
    text-decoration: none;
}

nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    margin: 10px;
    height: 10px;
}

article{
    background-color: rgb(104, 181, 243);
}

article > aside{
    background-color: rgb(193, 200, 200);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px; 
}

footer > p {
    margin: 10px;
}

